<!-- preloader area start -->
<!-- <div class="preloader" id="preloader">
		<div class="loader loader-1">
			<div class="loader-outter"></div>
			<div class="loader-inner"></div>
		</div>
	</div> -->
<!-- preloader area end -->

<!-- Header Area Start  -->
<header class="header">
  <!-- Top Header Area Start -->
  <section class="top-header d-none d-sm-block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="left-content">
              <ul class="left-list">
                <li>
                  <p>
                    <i class="fas fa-headset"></i> پشتیبانی
                  </p>
                </li>
                <li>
                  <p>
                    <i class="fas fa-envelope"></i> info@Toopakbazi.com
                  </p>
                </li>
                <li>
                  <a [routerLink]="['/aboutus']">
                    <i>
                      درباره ما
                    </i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right-content">
              <ul class="right-list">

                <li>
                  <a [routerLink]="['/balance']">
                    <div class="cart-icon tm-dropdown">
                      <i class=""> موجودی </i>
                      <span class="money-charge">10,000 تومان</span>

                    </div>
                  </a>
                </li>
                <li>
                  <div class="notofication tm-dropdown">
                    <i class="fas fa-bell"></i>
                    <span class="count">11</span>
                  </div>
                </li>
                <li>
                  <a [routerLink]="['/login']" class="sign-in">
                    <i class="fas fa-user"></i> وارد شوید
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Top Header Area End -->
  <!--Main-Menu Area Start-->
  <div class="mainmenu-area" style="direction: rtl;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">
              <img src="assets/img/ARM.png" style="height: 70px;" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_menu"
              aria-controls="main_menu" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fixed-height" id="main_menu">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link active" [routerLink]="['']">
                    خانه
                    <div class="mr-hover-effect"></div>
                  </a>

                </li>
                <li class="nav-item">
                  <a class="nav-link " [routerLink]="['/matches']">لیست بازی ها
                    <div class="mr-hover-effect"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/credit']">شارژ حساب
                    <div class="mr-hover-effect"></div></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/debit']">دریافت پول
                    <div class="mr-hover-effect"></div></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link  dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    صفحات
                    <div class="mr-hover-effect"></div>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="about.html"> <i class="fa fa-angle-double-left"></i>درباره ما</a>
                    </li>
                    <li><a class="dropdown-item" href="affiliate.html"> <i
                          class="fa fa-angle-double-left"></i>وابسته</a></li>
                    <li><a class="dropdown-item" href="awards.html"> <i class="fa fa-angle-double-left"></i>جوایز</a>
                    </li>
                    <li><a class="dropdown-item" href="bonus.html"> <i class="fa fa-angle-double-left"></i>جایزه</a>
                    </li>
                    <li><a class="dropdown-item" href="cart.html"> <i class="fa fa-angle-double-left"></i>سبد</a></li>
                    <li><a class="dropdown-item" href="faq.html"> <i class="fa fa-angle-double-left"></i>سؤالات
                        متداول</a></li>
                    <li><a class="dropdown-item" href="how-it-work.html"> <i class="fa fa-angle-double-left"></i>چگونه
                        کار میکند</a></li>
                    <li><a class="dropdown-item" href="terms-conditions.html"> <i
                          class="fa fa-angle-double-left"></i>شرایط و ضوابط</a></li>
                    <li><a class="dropdown-item" href="terms-conditions-details.html"> <i
                          class="fa fa-angle-double-left"></i>جزئیات وضعیت</a></li>
                    <li><a class="dropdown-item" href="404.html"> <i class="fa fa-angle-double-left"></i>404</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">تماس با ما
                    <div class="mr-hover-effect"></div></a>
                </li>
              </ul>
              <a [routerLink]="['/signup']" class="mybtn1"> به ما بپیوندید</a>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!--Main-Menu Area Start-->
</header>
<!-- Header Area End  -->
