<!-- Breadcrumb Area Start -->
<section class="breadcrumb-area play">
  <img class="bc-img" src="assets/img/breadcrumb/play.png" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" style="text-align:right;">
        <h3 class="title">
          نظر سنجی فوتبال
        </h3>
        <h5 class="title">
          با مجوز رسمی از وزارت ارشاد اسلامی
          <br> به شماره ۳۱۲۵۶۸۲
        </h5>
        <h5 class="title">
          دیگه با خیال راحت از دنیای فوتبال درامد کسب کنید !
        </h5>
        <ul class="breadcrumb-list">
          <li>
            <a href="index.html">
              <i class="fas fa-home"></i>
              خانه
            </a>
          </li>
          <li>
            <span><i class="fas fa-chevron-left"></i> </span>
          </li>
          <li>
            <a href="play.html">بازی</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Area End -->

<!-- Featured Game Area Start -->
<section class="featured-game">
  <!-- Features Area Start -->
  <div class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="feature-box">
            <div class="feature-box-inner">
              <div class="row">
                <div class="col-lg-4 col-md-6">
                  <div class="single-feature">
                    <div class="icon one">
                      <img src="assets/img/feature/icon1.png" alt="">
                    </div>
                    <div class="content">
                      <h4 class="title">
                        پیشنهاد انحصاری
                      </h4>
                      <a href="#" class="link"><i class="fas fa-arrow-left"></i> بیشتر بخوانید </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single-feature">
                    <div class="icon two">
                      <img src="assets/img/feature/icon2.png" alt="">
                    </div>
                    <div class="content">
                      <h4 class="title">
                        عادلانه
                      </h4>
                      <a href="#" class="link"><i class="fas fa-arrow-left"></i> بیشتر بخوانید </a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <div class="single-feature">
                    <div class="icon three">
                      <img src="assets/img/feature/icon3.png" alt="">
                    </div>
                    <div class="content">
                      <h4 class="title">
                        پشتیبانی 24/7
                      </h4>
                      <a href="#" class="link"><i class="fas fa-arrow-left"></i> بیشتر بخوانید </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Features Area End -->
  <div class="lottery-area">
    <div class="daily-lottery">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="section-heading">
              <h5 class="subtitle">
                سعی کنید از ما دیدن کنید
              </h5>
              <h2 class="title">
                لاتاری روزانه
              </h2>
              <p class="text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="draw-time">
              <h5 class="subtitle">
                قرعه کشی قرعه کشی در آغاز می شود
              </h5>
              <div class="draw-counter">
                <div>{{time}}</div>
              </div>
              <p class="text">
                برای پاسخگویی به چالش های امروز
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Featured Game Area	End -->

<!-- Recent Winners Area Start -->
<section class="recent-winners">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="section-heading">
          <h5 class="subtitle">
            سعی کنید از ما دیدن کنید
          </h5>
          <h2 class="title">
            برندگان اخیر
          </h2>
          <p class="text">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="single-winer">
          <div class="top-area">
            <div class="left" style="text-align:right;">
              <h4 class="name">
                لروی روی
              </h4>
              <p class="date">
                1398/7/5
              </p>
            </div>
            <div class="right">
              <p class="id">#5747e75482</p>
            </div>
          </div>
          <div class="bottom-area">
            <div class="left">
              99 ریال
            </div>
            <div class="right">
              <img src="assets/img/icon2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-winer">
          <div class="top-area">
            <div class="left">
              <h4 class="name">
                جف مک
              </h4>
              <p class="date">
                1398/7/5
              </p>
            </div>
            <div class="right">
              <p class="id">#5747e75482</p>
            </div>
          </div>
          <div class="bottom-area">
            <div class="left">
              99 ریال
            </div>
            <div class="right">
              <img src="assets/img/icon2.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="single-winer">
          <div class="top-area">
            <div class="left">
              <h4 class="name">
                مک چیز
              </h4>
              <p class="date">
                1398/7/5
              </p>
            </div>
            <div class="right">
              <p class="id">#5747e75482</p>
            </div>
          </div>
          <div class="bottom-area">
            <div class="left">
              99 ریال
            </div>
            <div class="right">
              <img src="assets/img/icon2.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-xl-center">
        <a class="mybtn2" href="#">همه را ببینید </a>
      </div>
    </div>
  </div>
</section>
<!-- Recent Winners Area End -->
