<!-- <div>
  <img src="../assets/img/appModule.JPG" alt="">

</div>

<div style="background-color:#aaf8de;margin: 30px; padding: 10px;">
  <div><a [routerLink]="['/']">Home page <span style="color: chocolate;"> [routerLink]="['/']" </span></a></div>
  <div><a [routerLink]="['cart']">Cart <span style="color: chocolate;"> [routerLink]="['cart']"</span> </a></div>

  <div>
    <img src="../assets/img/adminModule.JPG" alt="">
  </div>
  <div><a [routerLink]="['admin/members']">Members <span style="color: chocolate;">
        [routerLink]="['admin/members']"</span></a></div>
  <div><a [routerLink]="['admin/products']"> Products <span style="color: chocolate;">
        [routerLink]="['admin/products']"</span></a></div>
  <div><a [routerLink]="['admin/news']"> News <span style="color: chocolate;"> [routerLink]="['admin/news']"</span></a>
  </div>

  <router-outlet></router-outlet>


  <p>end of page</p>

</div> -->

<!-- <app-side-bar></app-side-bar> -->
<!-- <div><a [routerLink]="['forms/roles/create']">Create Role </a></div>
<div><a [routerLink]="['forms/messages']">Message </a></div> -->



<router-outlet></router-outlet>
